actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example:add-user-to-account"
enable=B"true"
exceptionWorkflowStatus="incomplete"
groupIdLookupValue=""
groupIdLookupValueType="entity"
groupIdLookupValueWorkflowContextKey="newAccountEntryId"
groupIdType="account-entry"
roles=[ \
  "Account\ Administrator", \
  ]
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextGroupId=B"false"
useInContextUser=B"false"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
useWorkflowContextKeyForGroupIdLookup=B"true"
useWorkflowContextKeyForUserLookupValue=B"true"
userLookupType="email-address"
userLookupValue=""
userLookupValueWorkflowContextKey="emailAddress"
