actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
createdEntityIdentifierWorkflowContextKey="newUserGroupId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  ]
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
