companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
createdEntityIdentifierWorkflowContextKey="newAccountEntryId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"type\",\"useWorkflowContextKey\":false,\"workflowContextKey\":\"organisationType\",\"defaultValue\":\"business\"\}", \
  ]
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
returnExistingEntityIdentifierIfFound=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
