companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
ddmFieldReferenceArray=[ \
  "forename", \
  "surname", \
  "emailAddress", \
  "companyName", \
  "companySize", \
  "annualTurnover", \
  "contactPreferences", \
  "preferredContactMethod", \
  "dob", \
  ]
ddmUserDataFieldMap=""
enable=B"true"
exceptionWorkflowStatus="incomplete"
extractUploads=B"true"
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
includeWorkflowInformation=B"false"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
