companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
enable=B"true"
exceptionWorkflowStatus="incomplete"
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
optionTranslationJsonArray=[ \
  "\{\"workflowContextKey\":\"preferredContact\",\"translationMap\":\{\"Option21890263\":\"Phone\",\"Option91667602\":\"Email\",\"Option07366646\":\"Mail\"\}\}", \
  "\{\"workflowContextKey\":\"contactOptions\",\"translationMap\":\{\"Option12293685\":\"Phone\",\"Option84023888\":\"Email\",\"Option07357603\":\"Mail\"\}\}", \
  ]
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
