companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example"
createdEntityIdentifierWorkflowContextKey="newOrganisationId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  ]
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
