companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example:update-user"
customFieldPairs=[ \
  "\{\ \"customFieldName\"\ :\ \"Preferred\ Contact\ Method\",\ \"workflowContextKey\"\ :\ \"preferredContactMethod\"\ \}", \
  ]
enable=B"true"
entityType="user"
exceptionWorkflowStatus="incomplete"
lookupType="email-address"
lookupValue=""
lookupValueWorkflowContextKey="emailAddress"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForLookupValue=B"true"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
