companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example:update-organisation"
customFieldPairs=[ \
  "\{\ \"customFieldName\"\ :\ \"Organisation\ Size\",\ \"workflowContextKey\"\ :\ \"companySize\"\ \}", \
  ]
enable=B"true"
entityType="organisation"
exceptionWorkflowStatus="incomplete"
lookupType="id"
lookupValue=""
lookupValueWorkflowContextKey="newOrganisationId"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForLookupValue=B"true"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
