alwaysCreateFolder=B"false"
companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example"
enable=B"true"
exceptionWorkflowStatus="incomplete"
folderNameUserAttribute="screen-name"
folderNameWorkflowContextKey="companyName"
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
parentFolderId=L"0"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFolderName=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
