companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example"
enable=B"true"
entityAdministrationUserIdentifier="accountEntryAdministrationUserId"
entityIdentifierWorkflowContextKey="accountEntryId"
entityLookupNameValueWorkflowContextKey="accountName"
entityLookupTypeValueWorkflowContextKey=""
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
