actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
enable=B"true"
exceptionWorkflowStatus="incomplete"
lookupType="id"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
useWorkflowContextKeyForUserGroupIdLookup=B"true"
useWorkflowContextKeyForValueArray=B"true"
userGroupIdLookupValue=""
userGroupIdLookupValueWorkflowContextKey="newUserGroupId"
valueArray=""
valueArrayWorkflowContextKey="newUserId"
