companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example:update-account"
customFieldPairs=[ \
  "\{\ \"customFieldName\"\ :\ \"Annual\ Turnover\",\ \"workflowContextKey\"\ :\ \"annualTurnover\"\ \}", \
  ]
enable=B"true"
entityType="account"
exceptionWorkflowStatus="incomplete"
lookupType="id"
lookupValue=""
lookupValueWorkflowContextKey="newAccountEntryId"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForLookupValue=B"true"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
