actionUserLookupType="email-address"
actionUserLookupValue="peter.richards@liferay.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example:add-user-to-site"
enable=B"true"
exceptionWorkflowStatus="incomplete"
groupIdLookupValue=""
groupIdLookupValueType="entity"
groupIdLookupValueWorkflowContextKey="groupId"
groupIdType="site"
roles=[ \
  "Site\ Member", \
  ]
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextGroupId=B"true"
useInContextUser=B"false"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
useWorkflowContextKeyForGroupIdLookup=B"true"
useWorkflowContextKeyForUserLookupValue=B"true"
userLookupType="email-address"
userLookupValue=""
userLookupValueWorkflowContextKey="emailAddress"
