addUserToCurrentSite=B"true"
companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example"
createdEntityIdentifierWorkflowContextKey="newUserId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"email-address\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"emailAddress\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"first-name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"forename\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"last-name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"surname\",\"defaultValue\":\"\"\}", \
  "\{\"entityAttributeName\":\"dob\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"dob\",\"defaultValue\":\"1980-01-01\"\}", \
  ]
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUser=B"false"
useWorkflowContextKeyForUserLookupValue=B"false"
userLookupType="email-address"
userLookupValue="peter.richards@liferay.com"
userLookupValueWorkflowContextKey="emailAddress"
