companyId=L"20096"
config-workflow-node-identifier-id="onboarding-example"
emailBodyTemplate="Hi\ $\{forename\}\ $\{surname\},\n\nThank\ you\ for\ reaching\ out."
emailSubjectTemplate="Thank\ you\ for\ your\ contact\ $\{companyName\}"
enable=B"true"
exceptionWorkflowStatus="incomplete"
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
fromEmailAddress="donotreply@liferay.com"
fromEmailAddressWorkflowContextKey="fromEmailAddress"
successWorkflowStatus="pending"
toEmailAddressWorkflowContextKey="emailAddress"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
useWorkflowContextKeyForFromEmailAddress=B"false"
