companyId=L"20097"
config-workflow-node-identifier-id="onboarding-example"
enable=B"true"
failureOutcomeTransitionName="Failure"
failureStatusArray=[ \
  "incomplete", \
  "denied", \
  ]
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
successOutcomeTransitionName="Success"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
